<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <script th:href="@{webjars/jquery/3.5.1/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
	<title>投稿</title>

</head>
<body>
	<div class="row">
	<div class="col-sm-6 mb-3">
	
<form th:action="@{/posts/create/confirm}" th:object="${postsForm}" th:method="post">
	<div class="form-group col-6">
		<label for="name">名前</label>
		<input class="form-control" type="text" th:field="*{name}"/>
		<div class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
	</div>
	<div class="form-group col-6">
		<label for="post"></label>
		<input class="form-control input-lg" type="text" th:field="*{post}"/>
		<div class="form-text text-muted" th:if="${#fields.hasErrors('post')}" th:errors="*{post}"></div>
	</div>
	
	<button class="btn btn-outline-dark" type="submit">追加</button>
	<a class ="btn btn-outline-dark" href="/posts/">戻る</a>
</form>
	</div>
	</div>
</body>
</html>