<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <script th:href="@{webjars/jquery/3.5.1/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
	<title>掲示板</title>

</head>
<body>

<!-- テーブル -->
<table class="table table-striped">	
	<thead>
		<tr><th>name</th><th></th></tr>
	</thead>
	<tbody>
		<tr>
		<td th:text = "${posts.name}"></td>
		<td th:text = "${posts.post}"></td>
		<td th:text = "${posts.day}"></td>
		<td>
			<form class="d-inline" th:action="@{/posts/delete/{id}(id=${posts.id})}" th:method="post">
				<button class="btn btn-outline-dark btn-block" type="submit">削除</button>
			</form>
		</td>
		</tr>
	</tbody>
</table>
<!-- テーブル -->
	<a class ="btn btn-outline-dark" href="/posts/">戻る</a>
</body>
</html>